html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0 !important;
  font-family: "Roboto", sans-serif;

  /* background-color: rgb(184, 215, 252); */
  /* background-color: #f6f8fa; */
  background: rgb(35, 36, 0);
  background: radial-gradient(
    circle,
    rgba(35, 36, 0, 1) 14%,
    rgba(47, 47, 47, 1) 69%
  );
}

#root {
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
